@model CareerInfo.Models.ResponseJob
@using Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
}


    <h2 
    style="text-align: center;
    padding: 20px;">
    Job Details</h2>

<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-4">
                <dl>
                    <dt>
                        Job Title
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Job_title)
                    </dd>
                    <dt>
                        Company Name
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.company_name)
                    </dd>
                    <dt>
                        Location
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.location)
                    </dd>
                    @if (Model.payment_type.amount > 0)
                    {
                        <dt>
                            Salary
                        </dt>
                        <dd>
                            R @Html.DisplayFor(model => model.payment_type.amount)
                        </dd>
                    }
                    <dt>
                        Programming Langauges
                    </dt>
                    <dd>
                        <div class="sample-padding">
                            @*initialize default chip component*@
                            <ejs-chiplist id="chip-programming">
                                <e-chips>
                                    @if (Model.plangs.Count == 1)
                                    {
                                        <e-chip text="None Provided" cssClass="e-secondary"></e-chip>
                                    }
                                    else
                                    {
                                        @foreach (var eitem in Model.plangs)
                                        {

                                            <e-chip text=@eitem cssClass="e-primary"></e-chip>
                                        }
                                    }
                                </e-chips>
                            </ejs-chiplist>
                        </div>
                    </dd>
                    <dt>
                        Education Requirements
                    </dt>
                    <dd>
                        <div class="sample-padding">
                            @*initialize default chip component*@
                            <ejs-chiplist id="chip-education">
                                <e-chips>
                                    @if (Model.erequirements.Count == 1)
                                    {
                                        <e-chip text="None Provided" cssClass="e-secondary"></e-chip>
                                    }
                                    else
                                    {
                                        @foreach (var eitem in Model.erequirements)
                                        {

                                            <e-chip text=@eitem cssClass="e-secondary"></e-chip>
                                        }
                                    }
                                </e-chips>
                            </ejs-chiplist>
                        </div>
                    </dd>
                    <dt>
                        Location
                    </dt>
                    <dd>
                        <ejs-button id="infobtn" content="Apply" cssClass="e-info" OnClick="window.open('@Model.Site_link')" OnClientClick="openInNewTab();"></ejs-button>
                        <button class="e-control e-btn e-lib e-info" OnClick="document.getElementById('backbutton').click();">Back to List</button>
                    </dd>
                </dl>
            </div>
            <div class="col-md">
                <dl>
                    <dt>
                        Job Description
                    </dt>
                    <dd>
                        <div style="        line-height: 1.5;
        word-break: break-word;
        max-width: 840px">
                            @Html.Raw(Model.job_Description)
                        </div>
                    </dd>
                </dl>
                <div>
                    <button class="e-control e-btn e-lib e-info" OnClick="document.getElementById('backbutton').click();">Back to List</button>
                    <a asp-action="Index" id="backbutton" style="display:none;visibility:hidden">Back to List</a>
                </div>
            </div>
        </div>
    </div>

</div>


<style>

    .container {
        max-width: none;
    }

    #chip-default-wrapper .sample-padding {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chips-headers {
        font-size: 12px;
        text-align: center;
        padding-top: 10px;
    }


    #chip-choice .e-chip .e-chip-icon {
        font-family: 'e-chips-icons';
    }
</style>

<script type="text/javascript">
    function openInNewTab() {
        window.document.forms[0].target = '_blank';
        setTimeout(function () { window.document.forms[0].target = ''; }, 0);
    }
    console.log(@Html.Raw(Model))

</script>
