@model IEnumerable<CareerInfo.Models.ListJob>

@{
    ViewData["Title"] = "Favourites";
}

    <h2>Favourites</h2>

<p>
    <a asp-action="Jobs" asp-controller="Jobs">Find More Jobs</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Job Title
            </th>
            <th>
                Company
            </th>
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Job_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company_name)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.location)
            </th>
            <td>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.FavouriteId">Delete</a>*
            </td>
        </tr>
}
    </tbody>
</table>
